<div
  class="flex flex-col lg:flex-row items-center justify-between p-6 lg:p-12 bg-gray-50"
>
  <div class="w-full lg:w-1/2 mb-8 lg:mb-0">
    <p class="text-red-500 font-semibold text-center lg:text-left">
      LET'S SHIFT YOUR BUSINESS
    </p>
    <h1 class="text-3xl lg:text-5xl font-bold my-4 text-center lg:text-left">
      Shift your business fast with Shade Pro.
    </h1>
    <p class="text-gray-700 mb-6 text-center lg:text-left">
      With lots of unique blocks, you can easily build a page without coding.
      Build your next consultancy website within a few minutes.
    </p>
    <div class="flex justify-center lg:justify-start">
      <button class="bg-blue-600 text-white px-4 py-2 rounded">
        Get started a project
      </button>
    </div>
  </div>
  <div class="w-full lg:w-1/2 flex justify-center relative">
    <img
      src="assets/images/Image.png"
      alt="Smiling Woman"
      class="rounded-full border-4 border-white shadow-lg"
    />
  </div>
</div>
<app-services></app-services>
<app-declaration></app-declaration>
<app-our-story></app-our-story>
<app-why-choose-us></app-why-choose-us>
<app-case-studies></app-case-studies>
<app-testimonial-cta-footer></app-testimonial-cta-footer>
<router-outlet></router-outlet>
